/* Main */
body{
    width: 100%;
    min-height: 100vh;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.404);

    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    margin: 5px 0;

    font-weight: 100;
}
p{
    margin: 5px 0;
}
#main{
    width: 70%;
    min-height: 100vh;
    padding: 50px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 100%;
    min-height: 50px;
    margin: 20px 0;
    padding: 30px;
    box-sizing: border-box;
    overflow-y: hidden;
    position: relative;

    border-radius: 6px;
    background-color: rgb(236, 235, 235);
    color: rgb(92, 92, 92);

    display: flex;
    align-items: center;
}
/* Nav Bar */
#nav-bar{
    width: 100%;
    height: 50px;
    padding: 0 15%;
    box-sizing: border-box;

    background: linear-gradient(rgb(111, 201, 253), rgb(73, 174, 233));
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: rgba(22, 63, 87, .4);
    border-width: 1px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
}
#link-list{
    height: 100%;

    color: rgb(211, 239, 248);

    display: flex;
    align-items: center;
}
#nav-bar a{
    color: rgb(211, 239, 248);
    text-shadow: 0 0 1px black;
    text-decoration: none;
}
#nav-bar a:hover{
    color: white;
}
.nav-dash{
    margin: 0px 5px;
    cursor: pointer;
}
a#banner{
    margin-right: 15px;

    text-decoration: none;
    color: white;
    font-size: 20px;
}
.cover{
    height: 100%;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;

    background: linear-gradient( rgba(236, 235, 235, 0), rgba(236, 235, 235, 0.7), rgb(236, 235, 235) 90%);
}
.category-pic{
    height: 120px;
    width: 120px;
    z-index: 2;

    flex-shrink: 0;
    margin-right: 20px;
    background-color: rgb(179, 179, 179);
}
.story-pic{
    height: 120px;
    width: 120px;
    z-index: 2;

    flex-shrink: 0;
    margin-right: 20px;
    background-color: rgb(179, 179, 179);
}
.story-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.story-text p{
    overflow: hidden;
}
.story-container{
    height: 180px;
}